In [5]:
#append는 맨뒤에 추가
numbers = [1,2,3,4,5,6,7]

numbers.append(8)

print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8]

In [6]:
#insert는 원하는 인덱스 위치에 원하는 값 추가
numbers.insert(0, 0)
numbers.insert(4, 0)
numbers.insert(6, 0)
numbers.insert(len(numbers), 0)
print(numbers)

[0, 1, 2, 3, 0, 4, 0, 5, 6, 7, 8, 0]

In [7]:
#expend는 리스트1뒤에 리스트2 값을 맨뒤에 추가
numbers.extend([9,10,11])
print(numbers)

[0, 1, 2, 3, 0, 4, 0, 5, 6, 7, 8, 0, 9, 10, 11]

In [8]:
#remove는 ()안의 값과 같은 첫번째 값을 제거
numbers.remove(0)
print(numbers)

[1, 2, 3, 0, 4, 0, 5, 6, 7, 8, 0, 9, 10, 11]

In [9]:
#del은 []안의 인덱스 값 제거
del numbers[0]
print(numbers)

[2, 3, 0, 4, 0, 5, 6, 7, 8, 0, 9, 10, 11]

In [10]:
#pop은 리스트 제일 마지막[-1] 요소를 제거, 제거한 요소는 반환(출력은)해줌
print(numbers.pop())
print(numbers)

11
[2, 3, 0, 4, 0, 5, 6, 7, 8, 0, 9, 10]

In [13]:
#index는 ()안의 값과 같은 숫자가 리스트에서 몇 번째 인덱스인지 찾아줌, 같은 숫자가 리스트 내에 여러개면 맨 처음 찾는 인덱스 값으로 출력
print(numbers.index(2))
print(numbers.index(0))

0
2

In [15]:
#count는 ()안의 값과 같은 값이 몇 개 있는지 세어줌
print(numbers.count(0))
print(numbers.count(2))

3
1

In [19]:
#sort는 리스트 요소를 오름차순 정렬
#reverse는 리스트 요소 순서를 반대로
#반환 값은 둘다 None
print(numbers.sort())
print(numbers)

print(numbers.reverse())
print(numbers)

None
[0, 0, 0, 2, 3, 4, 5, 6, 7, 8, 9, 10]
None
[10, 9, 8, 7, 6, 5, 4, 3, 2, 0, 0, 0]

In [ ]:
#stack은 자료구조 - 선착순과는 반대되는 개념(마지막에 넣은 걸 먼저 빼는 구조(맨처음 넣은걸 맨 나중에)) = 후입선출구조, 산에 산다고 생각하기
#append로 넣어주고 pop으로 빼내야함

stack = [3,4,5]
stack.append(6)
staxk.append(7)

....예시 다시 보기

## tuple

In [22]:
# list는 [~], 수정가능
#tuple은 (~), 수정 불가능

tuple_variable = (1,2,3,4,5,"hello")
tuple_variable[0] = 0 #tuple이라 수정 불가능해서 오류남

In [23]:
list_variable = [1,2,3,4,5,"hello"]
list_variable[0] = 0
print(list_variable)

[0, 2, 3, 4, 5, 'hello']

In [25]:
tuple_variable[1:3] = ("dd", "ee") #슬라이싱으로 하는 것도 수정 불가능
del tuple_variable[0] #삭제도 불가능

TypeError: 'tuple' object does not support item assignment

In [28]:
#tuple은 소괄호 생략 가능
t_v2 = "음", "오", "아", "예"
print(type(t_v2))
print(t_v2)

<class 'tuple'>
('음', '오', '아', '예')

In [29]:
#tuple은 빠르게 생성 가능하고 리스트보다 메모리 부담이 적은 대신 내용 변경이 불가함

#### tuple, list 소요시간 비교

In [34]:
#tuple
import time

curr = time.time()
total = []

for i in range(10000):
    for j in range(10000):
        total.append((i, j))
    
last = time.time()
     
print(last - curr)

16.210597276687622

In [35]:
#list
curr = time.time()
total = []

for i in range(10000):
    for j in range(10000):
        total.append([i, j])
    
last = time.time()
     
print(last - curr)

41.73381757736206

#### unpacking

In [36]:
s1, s2 = "text1", "text2" #각각 넣어줄 수 있음
print(s1)
print(s2)

text1
text2

In [37]:
s3, s4, s5 = ["이렇게", "좋은", "말"]
print(s3,s4,s5)

이렇게 좋은 말

In [38]:
s6,s7,s8,s9 = "문자열도"
print(s6, s7, s8, s9)

문 자 열 도

#### input 사용 - 내가 입력하기

In [2]:
#input사용해 값 받아오기
input_v = input("M") #앤 아무거나 다
#숫자만 허용하고 싶을때
#정수 : int(input("입력:"))
#실수 : float(input("입력:"))

M 11

In [3]:
print("input_v : ", input_v, "\ntype_:", type(input_v))

input_v :  11
type_: <class 'str'>

In [7]:
#연습
name = input("이름 : ")
print(name,"씨, 안녕하세요.\n파이썬에 오신것을 환영합니다.")
j1 = int(input("첫 번째 정수를 입력하세요:"))
j2 = int(input("두 번째 정수를 입력하세요:"))
print(j1, "과", j2,"의 합은", j1+j2, "입니다.")

이름 :  ㅇ

ㅇ 씨, 안녕하세요.
파이썬에 오신것을 환영합니다.

첫 번째 정수를 입력하세요: 300
두 번째 정수를 입력하세요: 400

300 과 400 의 합은 700 입니다.

In [3]:
#연습
st = input("경기장은 어디입니까?")
w = input("이긴 팀은 어디입니까?")
l = input("진 팀은 어디입니까?")
v = input("우수 선수는 누구입니까?")
score = input("스코어는 몇대몇입니까?")

print("[속보]", w,"가", score,"로 승리...\n오늘",st,"경기장에서 야구 경기가 있었습니다.\n",w,"와", l,"는 치열한 공방전을 펼쳤습니다.\n이 경기에서", v,"가 맹활약을 했습니다.\n그 끝내",w,"가",l,"를",score,"로 승리하였습니다.\n기사 끝.")

경기장은 어디입니까? 0
이긴 팀은 어디입니까? 0
진 팀은 어디입니까? 0
우수 선수는 누구입니까? 0
스코어는 몇대몇입니까? 0

[속보] 0 가 0 로 승리...
오늘 0 경기장에서 야구 경기가 있었습니다.
 0 와 0 는 치열한 공방전을 펼쳤습니다.
이 경기에서 0 가 맹활약을 했습니다.
그 끝내 0 가 0 를 0 로 승리하였습니다.
기사 끝.

#### split

In [4]:
#split은 문자열 쪼개기
result = '1,2,3'.split(',') #쉼표 기준으로 띄울게

print(type(result))
print(result)
#list자료형으로 반환됨

<class 'list'>
['1', '2', '3']

In [13]:
#연습
clock = input("hh:mm:ss의 형태로 시간을 입력해주세요").split(":")
#or h,m,s = input(~).split(":")
#c = clock.split(':')
#print(c)
print(clock)
print("시 :",clock[0])
print("분 :",clock[1])
print("초 :",clock[2])

hh:mm:ss의 형태로 시간을 입력해주세요 11:22:#3

['11', '22', '#3']
시 : 11
분 : 22
초 : #3

#### map

In [17]:
#리스트 한번에 int만들어 줄때 map사용
a = [1.2, 2.3, 3.5, 4.7]
a = list(map(int, a))
print(a)

[1, 2, 3, 4]

In [36]:
#연습
kor,eng,mat,sci = map(int, input("국,영,수,과 점수 입력").split(",")) #내가 짠건 list도 써줬었는데 여기 코드에서는 list로 만들 필요가 없어서 안써도 상관 없음
avg = (kor+eng+mat+sci)/4

print("평균 점수는", avg,"입니다.")

국,영,수,과 점수 입력 1,1,1,1

평균 점수는 1.0 입니다.

#### sep

In [42]:
#'sep = 구분기호'로 쓰이고 맨뒤에 써줘야한다 == end
#sep : 어떤 기호로 구분해줄건지/end : 다음프린트 구문하고 한줄로 쓰게 해줄건지

In [41]:
year = '2021'
month = '02'
day = '03'
hour = '18'
minute = '33'
second = '23'

print(year, month, day, sep ='/', end=" ")
print(hour, minute, second, sep=':')

2021/02/03 18:33:23

In [63]:
#연습
ap, gu = map(int, input("사과와 귤을 몇개 드릴까요?").split(","))
t = ap*1000+gu*200

print("총 가격은", str(t)+"원 입니다.")#나는 '14000 원'이떨어져서 나오는걸 str() 즉, 문자열로 변환해서 더해줌

사과와 귤을 몇개 드릴까요? 10,20

총 가격은 14000원 입니다.

#### if

In [67]:
#input_value4 타입이 int면 True -> is사용해서 판별
input_value4 = 3
type(input_value4) is int

#input_value4가 int일 때 프린트 문구 출력해줌
if type(input_value4) is int:
    print("input_value4는 정수입니다.")

input_value4는 정수입니다.

##### if와 elif

In [68]:
age = 39

if 20 <= age <30: #다른 언어에서는 and,or같은 논리연산자를 하나하나 써줘야함
    print("20대 입니다")
elif 30 <= age < 40:
    print("30대 입니다")
    
print("감사합니다.")

#순서는 '30<=age'먼저 나와도 됨, 하지만 2,3배수처럼 겹치는 것이 있으면 순서 바꾸면 값이 달라짐

30대 입니다
감사합니다.

##### if, elif, else

In [ ]:
#3개 이상 조건문일 때
age = 40

if 20 <= age <30:
    print("20대입니다.")
elif

In [74]:
#연습
u_id = input("아이디를 입력하세요")
u_ra = int(input("회원 등급을 입력해주세요"))

if u_id == 'admin':
    print("최고 관리자, 모든 권한을 갖습니다.")
elif u_ra <= 3 :
    print("제한적인 권한을 갖습니다")
else :
    print("권한이 없습니다")

아이디를 입력하세요 h
회원 등급을 입력해주세요 6

권한이 없습니다