# 23/1/9(월요일)

In [ ]:
a = 0
b=2

if a == 0:
    print("a")
elif a+b !=1 :
    print("b")

In [35]:
#for i in rnage(len(문자열)):
#     명령어~
for i in range(len("Pyaaa")):#문자열(단어알파벳의 개수 만큼 프린트안 문장 반복
    print("A")

A
A
A
A
A

In [46]:
for i in reversed("일이사육삼오"): 
    #reversed도 역순으로 재배치해서 순서(차례)대로 나열이 아니라 원래 있던 순서에서 역순으로 바꿔주는 것 뿐임 
    print(i)

오
삼
육
사
이
일

#### for

In [91]:
#연습
#1)내가 시도해본거(세로로 나옴)
for i in range(1, 6):
    for j in range(5):
        print("*")
    print(sep="")
    
#2)전에 별네모 만들기 참고해서
for i in range(1):
    for j in range(5):
        print('*') #한줄로 나옴
        
#선생님 코드
for i in range(5):
    for j in range(5):
        print("*", end = "")
    print()
    
#for문 한개로
for i in range(5):
    print('* ' * 5)

*
*
*
*
*

*
*
*
*
*

*
*
*
*
*

*
*
*
*
*

*
*
*
*
*

*
*
*
*
*
*****
*****
*****
*****
*****

In [23]:
for i in range(8): #얘가 세로
    for j in range(5): #얘가 가로라고 생각하기
        print(2, end ="")
    print()#꼭 써야 칸수에 맞게 나열됨

22222
22222
22222
22222
22222
22222
22222
22222

#### while

In [4]:
i = 0 #초기식
while i < 10: #while조건식
    print("D") #반복할 코드
    i = i+1 #변화식

D
D
D
D
D
D
D
D
D
D

In [8]:
#예제
count = int(input("반복할 횟수를 입력:"))

while count > 0:
    print("H W", count)
    count = count-1

반복할 횟수를 입력: 3

H W 3
H W 2
H W 1

In [26]:
#연습
a = 2
while a < 100:
    print(a, end = "\t")
    a = a + 2
    
#선생님 코드
i = 1
while  i > 100:
    print(i * 2, end = '\t')
    i += 1

2	4	6	8	10	12	14	16	18	20	22	24	26	28	30	32	34	36	38	40	42	44	46	48	50	52	54	56	58	60	62	64	66	68	70	72	74	76	78	80	82	84	86	88	90	92	94	96	98

In [28]:
#연습
a = int(input("구구단 숫자 입력:"))
b = 1

while b < 10:
    print(a, "*", b, "=", a*b)
    b = b + 1
    
#선생님 코드

구구단 숫자 입력: 9

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [67]:
#연습
a = int(input("학생의 수 : "))
b = 1 #i로 많이 씀
d = 0 #0을 변수로 받아준거는 학생의 점수를 받아서 d안에 넣어주기 위해서

while b <= a :#b는 a까지 순서대로 올라가야 하니까 a와 같거나 커야함
    c = int(input(str(b)+"학생의 점수:")) 
    b += 1 #b에 1씩 더해서 a까지 갈 수 있게
    d = d+c #d와 c(점수)를 다 더해줌
print("평균 : ", d/a,"점") #아까 더해서 값을 넣어준 d를 불러오기만 하면됨

학생의 수 :  3
1학생의 점수: 77
2학생의 점수: 88
3학생의 점수: 99

평균 :  88.0 점

#### len활용 (while문)

In [81]:
#예제 다시보고 다시해보기

scores = (97, 100, 77)

i = 0

while i < len(socres):
    print(scores[i])
    i += 1

97
100
77

In [115]:
class_a = (70, 60, 55, 75, 95, 90, 80, 85, 100)

i = 0

while i < len(class_a):
    print(class_a[i])
    i += 1

print((class_a))
   

#선생님 코드
class_a = (70, 60, 55, 75, 95, 90, 80, 85, 100)

total = 0

i = 0

while i < len(class_a):
    total += class_a[i]
    i += 1
    
ave = total / len(class_a)
print(ave)

70
60
55
75
95
90
80
85
100
(70, 60, 55, 75, 95, 90, 80, 85, 100)
78.88888888888889

#### break

In [102]:
#예제 for일때
for i in range(10000):
    print(i)
    if i == 10: #10까지 가면 반복종료해줘
        break #반복종료

0
1
2
3
4
5
6
7
8
9
10

In [105]:
# 예제 while 일때
i = 0

while True:
    print("HI")
    i += 1
    if i == 10:
        break

HI
HI
HI
HI
HI
HI
HI
HI
HI
HI

In [137]:
#연습
i = 0

total = 0

while True:
    i += 1
    total += i
    if i == 2:
        break

print(total)

#선생님 코드

3

In [116]:
#while 무한루프
#예제
while True:
    input_value = input("q를 입력하면 종료됩니다")
    if input_value == "q" : 
        break
print("프로그램을 종료합니다.")

q를 입력하면 종료됩니다 w
q를 입력하면 종료됩니다 e
q를 입력하면 종료됩니다 r
q를 입력하면 종료됩니다 t
q를 입력하면 종료됩니다 y
q를 입력하면 종료됩니다 q

프로그램을 종료합니다.

#### continue

In [117]:
#예제
for i in range(100): #0부터 99까지 증가하면서 100번 반복
    if i % 2 == 0: #i를 2로 나누었을 때 나머지가 0이면 짝수
        continue #위 조건에 부합 시 아래 코드를 실행하지 않고 건너뜀
    print(i, end = "\t")

1	3	5	7	9	11	13	15	17	19	21	23	25	27	29	31	33	35	37	39	41	43	45	47	49	51	53	55	57	59	61	63	65	67	69	71	73	75	77	79	81	83	85	87	89	91	93	95	97	99

In [ ]:
#예제
i = 0
while i < 100: #i가 100보다 작을 떄 반복, 0~99까지 증가하면서 100번 반복
    i += 1 #i를 
    if i % 2 == 0:
        continue
    print(i, end = "\t")

In [21]:
#연습
i = 0
while True:
    if i % 10 != 3:
        i += 1
        continue
 
    if i > 100:
        break
    print(i, end = " ")
    i += 1

3 13 23 33 43 53 63 73 83 93

In [22]:
#연습 for문
for i in range(1, 11):
    for j in range(1):
        print(i, end = ' ')
        
#연습 while문
i = 1

while i < 11:
    print(i, end =" ")
    i += 1

1 2 3 4 5 6 7 8 9 10 1 2 3 4 5 6 7 8 9 10

In [86]:
#연습for문
a = int(input("첫 숫자"))
b = int(input("끝 숫자"))
s = 0 #다 더해주는 변수 밖으로 뺴줘야함

for i in range(a, b+1):
    s += i
print(a, "부터", b,"까지의 합은", s,"입니다.")



#연습 while문
a = int(input("첫 숫자"))
b = int(input("끝 숫자"))
s = 0 #다 더해주는 변수 밖으로 뺴줘야함
a_in = 0 #a를 바로 넣어버리면 a값이 바뀌는 거니까 변수하나 지정해서 수 커지게 해주기

while a_in < b:
    a_in += 1 
    s += a_in
    
print(a, "부터", b,"까지의 합은", s,"입니다.")

첫 숫자 1
끝 숫자 10

1 부터 10 까지의 합은 55 입니다.

첫 숫자 1
끝 숫자 10

1 부터 10 까지의 합은 55 입니다.

In [141]:
#연습 for문
n = int(input("첫 숫자"))
m = int(input("끝 숫자"))
s = 0

for i in range(n, m+1):
    if i % 2 == 0:
        s += i ** 2
        
print(s)
    

#연습 while문
n = int(input("첫 숫자"))
m = int(input("끝 숫자"))
s = 0
n_in = n


while n_in <= m: #조건들이 들어가는 순서는 실행이 되었을 때 실행이되고 되돌아가는 순서를 잘 생각해보기
    if n_in % 2 == 0:
        s += n_in ** 2
    n_in += 1
    
print(s)

첫 숫자 4
끝 숫자 7

52

첫 숫자 47
끝 숫자 88

100184

In [148]:
#연습

#for문(range(시작, 끝)때문에 범위가 지정되어있음)
Kor = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]

total = 0

for i in range(len(Kor)): #앞에 0은 생략가능
    total += Kor[i]
    
print("평균",total/len(Kor))#for문을 나오면 위에 둔 i는 잊어야함, 끝난거임
    



#while문(for문과 다르게 while은 범위가 지정되어 있지 않아 i가 하나씩 높아진다는 것을 알려줘야함 i+=1처럼, while i < 10처럼 i를 더해 나갈 범위 지정해주고)
Kor = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]


total = 0
i = 0

while i < len(Kor):
    total += Kor[i]
    i += 1
    
avg = total / len(Kor)
print("평균",avg)

평균 79.0
평균 79.0

In [166]:
#연습
#for문
#1) 10미만
sum = 0

for i in range(1, 10):
    if  i % 5 == 0 or i % 3 == 0:
        sum += i
    
print(sum)
#2)1000미만
sum = 0

for i in range(1, 1000):
    if  i % 5 == 0 or i % 3 == 0:
        sum += i
    
print(sum)


#while(다시해보기)

23
233168